.links {
  width: 150px;
  padding-top: 20px;
  float: right;
}

.links-flex {
  font-size: 30px;
  // border-top: 1px solid rgba(57, 56, 56, 0.38);
  // border-bottom: 1px solid rgba(57, 56, 56, 0.38);
  display: flex;
  justify-content: space-around;
  // background-color: #1075b7;
  // box-shadow: inset 0 0 10px 1px rgba(87, 87, 87, 0.7);
}


.mobile-social {
  display: none;
  position: fixed;
  bottom: 43%;
  width: 200px;

  .links-flex {
    font-size: 45px;
  }

  @media screen and (max-width: 750px) {
    display: block;
  }
}
