.home-content-container {
  display: flex;
  justify-content: center;
  grid-area: content-container;
  height: 60vh;

  text-align: center;
  z-index: 100;

  // h1 {
  //   font-size: $l-size;
  //   margin-bottom: 10px;
  //   font-family: 'Comfortaa', Helvetica, Arial, sans-serif;
  //   text-shadow: 1px 2px 5px #0d3b61;
  //   color: #164f7f;
  // }

  .typewriter {
    align-self: center;
    height: 50px;
    font-family: 'Comfortaa', Helvetica, Arial, sans-serif;
    font-size: $l-size;
    color: #15456d;
    margin-top: 20px;
  }

  .links {
    a {
      margin: 0 10px;
      color: #1e68a6;
      text-decoration: none;
      transition: color 1s ease;
      font-size: $l-size;

      &:hover {
        color: #673ab7;
      }
    }
  }
}

@media only screen and (max-device-width: 450px) {
  .center-container {
    width: 90%;
    height: 50%;
  }
}
